<div class= "banner">
  <h4><%= link_to 'Wikinimous', articles_path %></h4>
  <%= link_to 'New Article', new_article_path %>
</div>

<div class="container">
  <h1> <%= @article.tile %> </h1>
  <%=  %>


</div>
